<section class="row">
    <div class="container card col-md-6 col-lg-4">
        <a href="/post/{{id}}">
            <div class="card-header">
                <h2>{{title}}</h2>
                <h3>{{format_date date_created}}</h3>
            </div>
            <div class="card-body">
                <p>{{content}}</p>
            </div>
        </a>
    </div>
</section>